* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#background {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    background-image: url('../media/weststadt-podcast-header.png');
    background-size: cover;
    background-position: center;
}

#control-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#control-button {
    margin: 20px;
    display: flex;
    justify-content: center;
}

#title {
    text-align: center;
    color: white;
    font-family: 'Norwester';
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 55px;
    text-transform: uppercase;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.2) 55%, rgba(0,0,0,0));
    padding: 3rem 0 5rem;
}

#wavesurfer {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    height: 20%;
    bottom: 10vh;
    width: 80%;
}
